.bck {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    position: absolute;
    box-shadow: 4px 4px 4px;
    z-index: -1; 
  }
  .ind{
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: PT Sans Caption;
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 4.16px;
  }

  .logo { 
    max-width: 8%; 
    transform: translate(40%, 50%); 
  }
  .slo{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inria Serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    margin-top: 15%;
    margin-left: 5%;
  }

  .FnLs{
    gap: 30px;
    width: 500px;
    border-radius: 15px;
    display: flex;
    margin: auto;
    margin-top: 40px;
  }
  .FnLs input{
    border-radius: 15px;
    height: 30px;
    width: 300px;
    font-size: 14px;


  }
  .isign{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: auto;
        
 }
 .isign input{
  border-radius: 15px;
    height: 30px;
    width: 300px;
    font-size: 14px;
 }

 .Alaccount{
  justify-content: center;
  color: #000;
  display: flex;
 }
  .frame {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    border-radius: 15px;
    background: rgba(245, 245, 245, 0.50);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, .20);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.signnn{
  display: flex;
  margin: auto;
}
.signn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #cecece;
  color: #000000;
  border: none;
  border-radius: 5px;
}